{{> nav}}
<main id="scene" class="race-details" data-nav="races">
  <div class="view-wrapper">
    <div class="race-title race-5k">
      <h1>Les 5k de la Plaine</h1>
      <a href="/10k" class="next" alt="Lien de navigation interne vers la page de la course Les 10k de la Plaine">〉</a>
    </div>
    <h3>Une course ludique et conviviale, idéale pour ceux qui souhaitent profiter d'une expérience sportive sans pression.</h3>
    <div class="race-essential-infos card">
      <ul>
        <li class="primary">17 Octobre 2026</li>
        <li><img src="/assets/img/icon/flags.svg" alt="Icône de drapeau représentant l'heure de départ"><b>Heure de départ :</b>9h30</li>
        <li><img src="/assets/img/icon/path.svg" alt="Icône de chemin représentant la distance"><b>Distance :</b>5,69 km</li>
        <li><img src="/assets/img/icon/climb.svg" alt="Icône d'ascension représentant le dénivelé positif"><b>D+ :</b>91 m</li>
        <li><img src="/assets/img/icon/town.svg" alt="Icône de village représentant les hameaux traversés"><b>Hameaux traversés :</b>4</li>
        <li><img src="/assets/img/icon/stopwatch.svg" alt="Icône de chronomètre représentant la barrière horaire"><b>Temps limite :</b>1h</li>
        <li><img src="/assets/img/icon/runner.svg" alt="Icône de coureur représentant le nombre de participants"><b>Participants :</b>100 max</li>
        <div class="race-topology">
          <img src="/assets/img/topology/5k-profile.webp" id="topology-image" alt="Profil topologique des 5k de la Plaine">
          <label id="topology-label"><b>Topologie de la course</b><br><i>Départ à gauche, arrivée à droite</i></label>
          <div id="topology-selector" class="topology-selector">
            <a class="selected" data-type="topology" data-label="<b>Topologie de la course</b><br><i>Départ à gauche, arrivée à droite</i>" data-image="/assets/img/topology/5k-profile.webp">Topologie</a>
            <a data-type="slope" data-label="<b>Profil de pente de la course</b><br><i>Jaune : Plat, Rouge : D+, Vert D-</i>" data-image="/assets/img/topology/5k-slope.webp">Pente</a>
            <a data-type="surface" data-label="<b>Surfaces de la course</b><br><i>Bleu : Route, Vert : Sentier</i>" data-image="/assets/img/topology/5k-surface.webp">Surface</a>
          </div>
        </div>
        <a href="/assets/gpx/LFS26-5km-v4.gpx" download="LFS26 - Les 5k de la Plaine.gpx" alt="Lien de téléchargement pour la trace GPX de la course Les 5k de la Plaine"><li class="list-cto">Télécharger la trace GPX</li></a>
      </ul>
    </div>
    <div class="race-description card">
      <h4>Les 5k de la Plaine</h4>
      <p>Participez à une course nature, sans la pression de la distance : Les 5k de la Plaine, épreuve des <i>Foulées Sarmates</i>, sont faits pour vous ! Un parcours court, ludique et ouvert à toutes et tous, idéal pour les débutants ou les coureurs en quête d'une expérience conviviale. Traversez les paysages naturels de Sermaise, entre hameaux, plaines et forêt, et vibrez au rythme d'une course accessible, solidaire et festive.</p>
      <p>En participant à cette course, vous soutenez directement la lutte contre le cancer du sein. 50 % des bénéfices seront reversés à la Ligue contre le cancer, dans le cadre d'Octobre Rose. Courir pour le plaisir, courir pour la santé, courir pour une cause qui nous touche tous.</p>
      <a href="https://chronometrage.com/events/lesfouleessarmates" target="_blank" rel="noopener noreferrer" class="button primary" alt="Lien de navigation externe vers l'inscription en ligne sur chronometrage.com">Prendre un dossard</a>
    </div>
    <div class="strava-embed-placeholder" data-embed-type="route" data-embed-id="3471583267646184074" data-units="metric" data-full-width="true" data-style="standard" data-surface-type="true" data-map-hash="13.05/48.533/2.0919" data-club-id="1870907" data-from-embed="true"></div><script src="https://strava-embeds.com/embed.js"></script>
    {{> countdown}}
  </div>
</main>
{{> footer}}
<script type="text/javascript" src="/assets/dist/LFS.bundle.js"></script>
