<h1>Les Foulées Sarmates</h1>
<h2>17 Octobre 2026</h2>
<h3><i>Sermaise – 91530</i></h3>
<h4>5 km - 10 km - 21 km</h4>
<div class="race-cto card">
  <h3>Devenez pionnier·e·s de cette première édition</h3>
  <a href="https://chronometrage.com/events/lesfouleessarmates" target="_blank" rel="noopener noreferrer" class="button primary" alt="Lien de navigation externe vers l'inscription en ligne sur chronometrage.com">S'inscrire</a>
  <h5>Prix unique de <b>30€</b><br>Limité à <b>300 dossards</b></h5>
</div>
