<h1>Les Foulées Sarmates</h1>
<h2>17 Octobre 2026</h2>
<h3><i>Sermaise – 91530</i></h3>
<h4>
  <a href="/5k" class="race race-5k" alt="Lien de navigation interne vers la page de la course Les 5k de la Plaine">
    <span>5 km</span>
  </a>
  <a href="/10k" class="race race-10k" alt="Lien de navigation interne vers la page de la course Les 10k de la Plaine">
    <span>10 km<span>
  </a>
  <a href="/21k" class="race race-21k" alt="Lien de navigation interne vers la page de la course Le Semi des Hameaux">
    <span>21km<span>
  </a>
</h4>
<div class="race-cto card">
  <h3>Devenez pionnier·e·s de cette première édition</h3>
  <a href="https://chronometrage.com/events/lesfouleessarmates" target="_blank" rel="noopener noreferrer" class="button primary" alt="Lien de navigation externe vers l'inscription en ligne sur chronometrage.com">S'inscrire</a>
  <h5>Prix unique de <b>30€</b><br>Limité à <b>300 dossards</b></h5>
</div>
