<footer>
  <div class="valley-cut-mask"></div>
  <a href="https://messe-basse-production.com/" target="_blank" rel="noopener noreferrer">Messe Basse Production</a>
  <p>2021/<span id="copyright"><script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span></p>
</footer>
