<footer>
  <div class="valley-cut-mask"></div>
  <div class="socials">
    <a href="https://strava.com/clubs/les-foulees-sarmates" target="_blank" rel="noopener noreferrer" alt="Lien vers le club Strava des Foulées Sarmates">
      <img src="/assets/img/icon/strava.svg" alt="Logo de Strava">
    </a>
    <a href="https://instagram.com/messebasseproduction" target="_blank" rel="noopener noreferrer" alt="Lien vers le profil Instagram de Messe Basse Production">
      <img src="/assets/img/icon/instagram.svg" alt="Logo de Instagram">
    </a>
    <a href="https://www.facebook.com/events/2073721416537119" target="_blank" rel="noopener noreferrer" alt="Lien vers l'événement Facebook des Foulées Sarmates">
      <img src="/assets/img/icon/facebook.svg" alt="Logo de Facebook">
    </a>
  </div>
  <a href="https://messe-basse-production.com/" target="_blank" rel="noopener noreferrer">Messe Basse Production</a>
  <p>2021/<span id="copyright"><script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span></p>
</footer>
