<nav id="navigation" class="site-nav">
  <a href="/" class="page-title responsive"><img src="/assets/img/Logo LFS/Logo LFS (1024)/Logo LFS (Black without BG).png" alt="Logo de la compétition Les Foulées Sarmates"></a>
  <a href="/" class="page-title desktop"><img src="/assets/img/Logo Texxt LFS/Logo text LFS (2048)/Logo Text LFS (Black without BG).png" alt="Logo-texte de la compétition Les Foulées Sarmates"></a>
  <div class="nav-menu responsive">
    <!-- Menu Dropdown (Erik Terwan's codepen) MIT License https://codepen.io/erikterwan/pen/EVzeRP -->
    <input type="checkbox"/>
    <span></span><span></span><span></span> <!-- Actual hamburger elements -->
    <ul class="menu">
      <li>
        <a href="https://erikterwan.com/" target="_blank">Show me more</a>
      </li>
    </ul>
  </div>
</nav>
<img src="/assets/img/valley-cut.png" class="valley-cut-mask" alt="Vue en coupe de la vallée de l'orge">
