<nav id="navigation" class="site-nav">
  <a href="/" class="page-title responsive" alt="Lien interne pour revenir à la page d'accueil">
    <img src="/assets/img/logo/lfs-logo-black.webp" alt="Logo de la compétition Les Foulées Sarmates">
  </a>
  <a href="/" class="page-title desktop" alt="Lien interne pour revenir à la page d'accueil">
    <img src="/assets/img/logo/lfs-logo-txt-black.webp" alt="Logo-texte de la compétition Les Foulées Sarmates">
  </a>
  <div class="nav-menu responsive">
    <!-- Menu Dropdown (Erik Terwan's codepen) MIT License https://codepen.io/erikterwan/pen/EVzeRP -->
    <input type="checkbox"/>
    <span></span><span></span><span></span> <!-- Actual hamburger elements -->
    <ul class="menu">
      <li>
        <a href="/" alt="Lien de navigation interne vers la page d'accueil">Accueil</a>
      </li>
      <li>
        <a href="/evenement" alt="Lien de navigation interne vers la page des informations">L'évènement</a>
      </li>
      <li>
        <a href="/epreuves" alt="Lien de navigation interne vers la page des épreuves">Les épreuves</a>
      </li>
      <li class="primary">
        <a href="https://chronometrage.com/events/lesfouleessarmates" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers l'inscription en ligne sur chronometrage.com">Prendre votre dossard</a>
      </li>
      <li>
        <a href="/faq" alt="Lien de navigation interne vers la page de la FAQ">FAQ</a>
      </li>
      <li>
        <a href="/benevolat" alt="Lien de navigation interne vers la page de bénévolat">Devenir bénévole</a>
      </li>
      <li>
        <a href="/a-propos" alt="Lien de navigation interne vers la page à propos">À propos</a>
      </li>
    </ul>
  </div>
  <ul id="nav-menu" class="nav-menu desktop">
    <li data-nav="home">
      <a href="/" alt="Lien de navigation interne vers la page d'accueil">Accueil</a>
    </li>
    <li data-nav="event">
      <a href="/evenement" alt="Lien de navigation interne vers la page des informations">L'évènement</a>
    </li>
    <li data-nav="races">
      <a href="/epreuves" alt="Lien de navigation interne vers la page des épreuves">Les épreuves</a>
    </li>
    <li data-nav="faq">
      <a href="/faq" alt="Lien de navigation interne vers la page de la FAQ">FAQ</a>
    </li>
    <li data-nav="volunteer">
      <a href="/benevolat" alt="Lien de navigation interne vers la page de bénévolat">Devenir bénévole</a>
    </li>
    <li data-nav="about">
      <a href="/a-propos" alt="Lien de navigation interne vers la page à propos">À propos</a>
    </li>
    <li class="primary">
      <a href="https://chronometrage.com/events/lesfouleessarmates" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers l'inscription en ligne sur chronometrage.com">S'inscrire</a>
    </li>
  </ul>
  <div class="valley-cut-mask">
</nav>
