@font-face {
  font-family: 'Catamaran';
  src: url('/assets/font/Catamaran-Pro.ttf') format('truetype'),
    url('/assets/font/Catamaran-Pro.woff') format('woff');
}

@font-face {
  font-family: 'Doulos';
  src: url('/assets/font/Doulos-SIL.ttf') format('truetype'),
    url('/assets/font/Doulos-SIL.woff') format('woff');
}

@font-face {
  font-family: 'Gravity';
  src: url('/assets/font/Gravity.ttf') format('truetype'),
    url('/assets/font/Gravity.woff') format('woff');
}

@font-face {
  font-family: 'Fontjek';
  src: url('/assets/font/Fontjek.ttf') format('truetype'),
    url('/assets/font/Fontjek.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background: linear-gradient(115deg, var(--c-grad-start) 20%, var(--c-grad-end) 120%);
  color: var(--c-fg);
  font-size: var(--f);
  font-family: 'Gravity', sans-serif;
  position: relative;
  text-align: center;

  &::before {
    content: '';
    background: url('/assets/img/topology/sermaise.webp');
    background-position: center;
    background-size: contain;
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;

    filter: drop-shadow(0 0 var(--s-sl4) var(--c-fg-a80));
  }
}

a {
  color: var(--c-primary);
}

hr {
  border: solid 1px;
  color: var(--c-primary);
  margin: var(--s-lg1) 0;
}

a.button {
  align-items: center;
  background: var(--c-bg);
  border: solid 1px var(--c-fg-a20);
  border-radius: var(--s-sl1);
  color: var(--c-fg);
  cursor: pointer;
  display: flex;
  font-size: var(--f-lg1);
  font-weight: bold;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: var(--s-lg1);
  padding: var(--s-sl1) var(--s);
  text-decoration: none;
  text-indent: 0;
  text-transform: uppercase;
  width: fit-content;

  &.primary {
    background: var(--c-primary);
    border: solid 1px var(--c-bg);
    color: var(--c-bg);
  }
}

.card {
  background-color: var(--c-bg-a50);
  border-radius: .5rem;
  margin-bottom: var(--s-lg1);
  padding: var(--s-lg1);
}

.t-center {
  text-align: center;
}
