/* Tablet rules */
@media (min-width: 500px) {
  body {
    footer {
      .valley-cut-mask {
        height: calc((2 * var(--nav-height)) / 3);

        &::before {
          content: '';
          aspect-ratio: inherit;
          display: inherit;
          background-color: inherit;
          left: inherit;
          mask-image: inherit;
          mask-repeat: inherit;
          mask-size: inherit;
          position: inherit;
          top: inherit;
          width: inherit;
        }

        svg {
          display: block;
          fill: var(--c-bg);
          height: 100%;
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 675px) {
  body {
    nav {
      .valley-cut-mask {
        height: calc(var(--nav-height) / 2);

        &::before {
          content: '';
          aspect-ratio: inherit;
          display: inherit;
          background-color: inherit;
          left: inherit;
          mask-image: inherit;
          mask-repeat: inherit;
          mask-size: inherit;
          position: inherit;
          top: inherit;
          width: inherit;
        }

        svg {
          display: block;
          fill: var(--c-bg);
          height: 100%;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }

    main {
      .view-wrapper {
        padding: calc((var(--nav-height) / 2) + var(--s-lg3)) var(--s-lg3);
      }
    }

    .race-countdown {
      margin-bottom: 0;
    }

    /* View specific rules */

    main.home {
      h1 {
        max-width: inherit;
      }

      .village-picture {
        border-radius: .5rem;
        margin-left: 0;
        width: 100%;
      }

      .race-partners {
        overflow: hidden;
      }
    }

    footer {
      .valley-cut-mask {
        height: calc(var(--nav-height) / 2);
      }
    }
  }
}

/* Desktop rules */

@media (min-width: 1080px) {
  :root {
    --f-lg4: calc(var(--f) * 5);
    --nav-height: 7rem;
  }

  body {
    &::before {
      background-size: cover;
      opacity: .15;
    }

    nav {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0;

      .valley-cut-mask {
        height: var(--nav-height);
      }

      .responsive {
        display: none !important;
      }

      .desktop {
        display: inherit !important;
      }

      a.page-title {
        padding: var(--s);

        img {
          margin-left: 0;
        }
      }

      .nav-menu {
        flex-direction: row;
        height: 100%;
        list-style-type: none;
        position: inherit;
        right: 0;
        top: 0;
        width: auto;

        li {
          align-items: center;
          border-bottom: solid 5px transparent;
          border-top: solid 5px transparent;
          display: flex;
          height: 100%;
          padding: 0 var(--s);
          text-transform: uppercase;
          transition: all var(--t-duration);

          &:active,
          &:focus,
          &:hover {
            border-top: solid 5px var(--c-primary-a50);
          }

          &.selected {
            border-top: solid 5px var(--c-primary);
            font-weight: bold;
          }

          &.primary {
            background-color: var(--c-primary);
            font-weight: bold;
            padding-right: calc(var(--s) * 2);

            a {
              color: var(--c-bg);
            }
          }
        }
      }
    }

    main {
      display: flex;
      justify-content: center;

      .view-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100vw;

        h1 {
          letter-spacing: .4rem;
          margin-bottom: var(--s-lg2);
        }
      }
    }

    footer {
      .valley-cut-mask {
        height: var(--nav-height);
      }
    }

    .card {
      max-width: 50%;
      margin-bottom: var(--s-lg2);
      padding: var(--s-lg2);
    }

    /* View specific rules */

    main.home {
      h4 {
        margin-bottom: var(--s-lg2);
      }

      .village-picture {
        margin-bottom: var(--s-lg2);
        max-width: 75%;

        & + h3 {
          margin-bottom: var(--s-lg2);
        }
      }

      .race-more-info {
        & + h3 {
          margin-bottom: var(--s-lg2);
        }
      }

      .race-partners {
        margin-bottom: var(--s-lg2);
        max-width: 75%;
      }
    }

    main.race-details {
      h3 {
        margin-bottom: var(--s-lg2);
      }

      .race-title {
        margin-bottom: var(--s-lg2);
        width: 64%;

        h1 {
          letter-spacing: 0;
        }

        a {
          font-size: var(--f-lg3);

          &.previous {
            left: -32%;
          }

          &.next {
            right: -32%;
          }
        }
      }

      .race-essential-infos {
        ul {
          padding: var(--s-lg2);

          .race-topology {
            margin: var(--s-lg2) 0;

            .topology-selector a {
              cursor: pointer;
            }
          }
        }
      }

      .race-hamlet-crossed {
        margin-bottom: var(--s-lg2);
        max-width: 75%;
      }

      iframe {
        margin-bottom: var(--s-lg2);
        width: 75% !important;
      }
    }

    main.faq {
      .frequent-questions {
        h3 {
          font-size: var(--f-lg3);
          margin-bottom: var(--s-lg2);
          padding-top: var(--s-lg2);
        }

        .question {
          padding: var(--s) var(--s-lg2);

          &::after {
            right: var(--s-lg2);
          }
        }

        .answer {
          p {
            padding: var(--s) var(--s-lg2);

            &:first-of-type {
              padding-top: var(--s-lg1);
            }

            &:last-of-type {
              padding-bottom: var(--s-lg1);
            }
          }
        }
      }
    }

    main.volunteer {
      h3 {
        margin-bottom: var(--s-lg2);
      }

      .become-volunteer {
        p:last-of-type {
          margin-bottom: var(--s-lg2);
        }

        h3 {
          margin-bottom: var(--s-lg2);
        }
      }
    }

    main.about {
      .about-credits {
        div {
          margin-bottom: var(--s-lg2);
        }
      }
    }

    main.not-found {
      h3 {
        margin-bottom: var(--s-lg2);
      }

        .not-found-info {
          p:first-of-type {
            margin-bottom: var(--s-lg2);
          }
        }
    }
  }
}

@media (min-width: 1350px) {
  body {
    .card {
      max-width: 700px;
    }

    /* View specific rules */

    main.home {
      .village-picture,
      .race-partners {
        border-radius: 0;
        max-width: min(100vw, 1920px);
        width: 100vw;

        .partners-carousel {
          margin-left: 0;
        }
      }
    }

    main.race-details {
      .race-hamlet-crossed,
      iframe {
        width: min(75%, 1080px) !important;
      }
    }
  }
}