:root {
  /* Theme main colors */
  --c-primary: #B93A58;
  --c-amber: #FFBF00; /* Amber */
  --c-bg: #EFE4E0; /* Abyssal Azure */
  --c-fg: #101B1F; /* Light Peach */

  --c-grad-start: #DBD8AE;
  --c-grad-end: #B93A58;

  /* Theme color palette */
  --c-primary-lighter: #FFE085;
  --c-primary-light: #FFD147;
  --c-primary-dark: #CC9900;
  --c-primary-darker: #8F6B00;
  --c-bg-lighter: #3E6A79;
  --c-bg-light: #2A4651;
  --c-fg-dark: #DCC4BC;
  --c-fg-darker: #CEADA1;

  /* Color variations */
  --c-bg-a10: rgba(239, 228, 224, .1);
  --c-bg-a20: rgba(239, 228, 224, .2);
  --c-bg-a30: rgba(239, 228, 224, .3);
  --c-bg-a50: rgba(239, 228, 224, .5);
  --c-bg-a80: rgba(239, 228, 224, .8);

  --c-bg-alt-a10: rgba(219, 216, 174, .1);
  --c-bg-alt-a20: rgba(219, 216, 174, .2);
  --c-bg-alt-a30: rgba(219, 216, 174, .3);
  --c-bg-alt-a50: rgba(219, 216, 174, .5);
  --c-bg-alt-a80: rgba(219, 216, 174, .8);

  --c-fg-a10: rgba(16, 27, 31, .1);
  --c-fg-a20: rgba(16, 27, 31, .2);
  --c-fg-a30: rgba(16, 27, 31, .3);
  --c-fg-a50: rgba(16, 27, 31, .5);
  --c-fg-a80: rgba(16, 27, 31, .8);

  /* Spacing */
  --s: 1.2rem;
  --s-lg1: 2.4rem;
  --s-lg2: 3.6rem;
  --s-lg3: 4.8rem;
  --s-lg4: 6rem;
  --s-sl1: 1rem;
  --s-sl2: .8rem;
  --s-sl3: .6rem;
  --s-sl4: .4rem;

  /* Font sizes */
  --f: calc(var(--s) * 1.15);
  --f-lg1: calc(var(--f) * 1.33);
  --f-lg2: calc(var(--f) * 1.66);
  --f-lg3: calc(var(--f) * 2.5);
  --f-lg4: var(--s-lg4);
  --f-sl1: var(--s-sl1);
  --f-sl2: var(--s-sl2);
  --f-sl3: var(--s-sl3);
  --f-sl4: var(--s-sl4);

  /* DOM element dimensions */
  --nav-height: 10vh;

  --t-duration: .4s;
}
