main.about {
  h2 {
    font-size: var(--f-lg1);
    margin-bottom: var(--s-sl2);
  }

  .race-credits,
  .race-ip {
    margin-bottom: var(--s-lg1);
  }

  .race-credits {
    div {
      margin-bottom: var(--s-lg1);
    }
  }
}
