/* z-indexes */
/* z-index: 1 for main */
/* z-index: 2 for valley cut mask */
/* z-index: 3 for nav/footer */

nav {
  background-color: var(--c-bg);
  height: var(--nav-height);
  padding: var(--s);
  position: relative;
  text-align: initial;
  width: 100vw;
  z-index: 3;
  filter: drop-shadow(1px 1px 4px var(--c-fg-a80));

  a.page-title {
    color: var(--c-fg);
    display: inline-block;
    font-family: 'Fontjek', 'Gravity', sans-serif;
    position: relative;
    text-decoration: none;
    z-index: 4;

    img {
      height: 100%;
      margin-left: var(--s); /* So it feel balanced w/ hamburger */
      max-height: calc(var(--nav-height) - (var(--s) * 2));
    }
  }

  .nav-menu {
    /* Menu Dropdown (Erik Terwan's codepen) MIT License https://codepen.io/erikterwan/pen/EVzeRP */
    display: flex;
    flex-direction: column;
    height: var(--s-lg2);
    justify-content: center;
    position: absolute;
    right: calc((var(--nav-height) / 2) - (var(--s-lg2) / 2) + var(--s));
    top: calc((var(--nav-height) / 2) - (var(--s-lg2) / 2));
    user-select: none;
    width: var(--s-lg2);
    z-index: 4;

    a {
      color: var(--c-fg);
      text-decoration: none;
      transition: color var(--t-duration) ease;
    }

    input {
      cursor: pointer;
      display: block;
      height: var(--s-lg2);
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: var(--s-lg2);
      z-index: 5; /* Invisible checkbox above everything here */
      
      &:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
      }

      &:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
      }

      &:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      &:checked ~ .menu {
        transform: none;
      }
    }

    span {
      background-color: var(--c-fg);
      border-radius: var(--f);
      display: block;
      height: 4px;
      margin-bottom: var(--s-sl3);
      position: relative;
      width: var(--s-lg2);
      z-index: 4;
      
      transform-origin: 4px 0px;      
      transition: transform var(--t-duration) cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity var(--t-duration) ease;

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .menu {
      background: var(--c-bg-a80);
      list-style-type: none;
      position: absolute;
      right: calc(((var(--nav-height) / 2) - (var(--s-lg2) / 2) + var(--s)) * -1); /* Hamburger position */
      top: calc((var(--nav-height) / 2) + (var(--s-lg2) / 2)); /* Hamburger position */
      width: 100vw;
      z-index: 4;

      transform: translate(100vw, 0);
      transition: transform var(--t-duration) cubic-bezier(0.77, 0.2, 0.05, 1.0);

      li {
        padding: 10px 0;
        font-size: var(--f-lg2);
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;

        &.primary {
          background-color: var(--c-primary);

          a {
            color: var(--c-bg);
          }
        }
      }
    }
  }

  .valley-cut-mask {
    left: 0;
    position: absolute;
    width: 100vw;

    &::before {
      content: '';
      aspect-ratio: 1354 / 260; /* Match the valley-cut aspect-ratio */
      display: block;
      background-color: var(--c-bg);
      left: 0;
      mask-image: url('/assets/img/valley-cut.svg');
      mask-repeat: no-repeat;
      mask-size: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }    
  }
}

main {
  width: 100vw;

  div.view-wrapper {
    padding: calc(6rem + var(--s-lg1)) var(--s-lg1);
  }

  h1 {
    font-family: 'Fontjek', 'Gravity', sans-serif;
    font-size: var(--f-lg4);
    line-height: 1;
    margin: 0 auto;
    margin-bottom: var(--s-lg1);
  }

  h2 {
    font-size: var(--f-lg3);
  }

  h3 {
    font-size: var(--f-lg1);
    margin-bottom: var(--s-lg1);
  }

  h4 {
    font-family: 'Fontjek', 'Gravity', sans-serif;
    font-size: var(--f-lg3);
    margin-bottom: var(--s-lg1);
  }

  h5 {
    font-size: var(--f-lg1);
    font-weight: initial;
  }

  p {
    margin-bottom: var(--f);
  }

  .race-cto {
    margin-bottom: var(--s-lg1);
  }

  .race-countdown {
    margin-bottom: var(--s-lg1);
  }
}

footer {
  background-color: var(--c-bg);
  display: flex;
  flex-direction: column;
  height: var(--nav-height);
  justify-content: center;
  width: 100vw;
  z-index: 3;
  filter: drop-shadow(1px 1px 4px var(--c-fg-a80));

  .valley-cut-mask {
    width: 100%;

    &::before {
      content: '';
      aspect-ratio: 1354 / 260; /* Match the valley-cut aspect-ratio */
      display: block;
      background-color: var(--c-bg);
      transform: rotate(180deg) translateY(-1px); /* For some reason, rotate offsets by 1px ... */

      left: 0;
      mask-image: url('/assets/img/valley-cut.svg');
      mask-repeat: no-repeat;
      mask-size: cover;
      position: absolute;
      bottom: var(--nav-height);
      width: 100%;
    }    
  }

  a {
    color: var(--c-fg);
    font-family: 'Catamaran' 'Gravity' sans-serif;
    font-size: var(--f-lg1);
    text-decoration: none;
  }
}
