main.home {
  h1 {
    max-width: 300px;
  }

  .race-info,
  .race-more-info,
  .race-partners {
    margin-bottom: var(--s-lg1);
  }

  .race-info {
    aspect-ratio: 16 / 9;
    background: linear-gradient(0deg, var(--c-bg-a80)), url('/assets/img/sermaise-drone.webp');
    background-position: center;
    background-size: cover;
    margin-left: calc(var(--s-lg1) * -1);
    mask-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 1) 8% 92%, transparent);
    padding: var(--s-lg4) var(--s-lg1);
    text-align: justify;
    text-indent: var(--f);
    width: 100vw;

    h5 {
      font-size: var(--f-lg1);
      margin-top: var(--s-lg2);
      text-indent: 0;
      text-align: center;
    }
  }

  .race-more-info {
    .socials {
      display: flex;
      gap: var(--s);
      justify-content: center;
      margin-bottom: var(--f);

      img {
        border-radius: var(--f);
        height: 100%;
        max-height: var(--s-lg3);
      }
    }

    a.button {
      margin-bottom: 0;
    }
  }

  .race-partners {
    .partners-carousel { 
      display: flex;
      flex: 0 0 100%;
      height: 10rem;
      margin-left: calc(var(--s-lg1)*-1);
      overflow: hidden;
      position: relative;
      width: 100vw;
  
      &:active .slides-track,
      &:focus .slides-track,
      &:hover .slides-track {
        animation-play-state: paused;
      }

      .slides-track {
        display: flex;
        gap: var(--s);
        padding-right: var(--s);
        will-change: transform;
        animation: carousel-horizontal-scroll 20s linear infinite;
  
        .item {
          background-color: var(--c-bg-a80);
          border-radius: var(--f);
          box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
          padding: var(--s-sl2) var(--s);
          justify-content: center;
          align-items: center;
          width: 20rem;
  
          img {
            height: 100%;
            max-width: 100%;
            object-fit: contain;
            width: auto;
          }
        }
      }
    }
  }
}
