main.home {
  h1 {
    max-width: 300px;
  }

  h4 {
    display: flex;
    gap: var(--s);
    justify-content: center;
    margin-bottom: var(--s-lg1);

    a {
      background-color: var(--c-bg);
      padding: var(--s);
      perspective: 1px; /* Avoid aliased border with skewed container */
      text-decoration: none;
      transform: skewX(-10deg);

      &.race-21k {
        border-bottom: solid var(--f-sl3) var(--race-21k-primary);
      }

      &.race-10k {
        border-bottom: solid var(--f-sl3) var(--race-10k-primary);
      }

      &.race-5k {
        border-bottom: solid var(--f-sl3) var(--race-5k-primary);
      }

      span {
        color: var(--c-fg);
        font-family: 'Fontjek', 'Gravity', sans-serif;
        font-size: var(--f-lg3);
        text-decoration: none;
        transform: skew(10deg);
      }
    }
  }

  .village-picture,
  .race-partners {
    margin-bottom: var(--s-lg1);
  }

  .village-picture {
    aspect-ratio: 16 / 9;
    background: url('/assets/img/photo/bourg-drone.webp');
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0 0 var(--s-sl4) var(--c-fg-a50));
    margin-left: calc(var(--s-lg1) * -1);
    position: relative;
    width: 100vw;

    label {
      background-color: var(--c-bg);
      border: solid 1px var(--c-fg-a30);
      border-radius: .5rem;
      bottom: var(--s-sl2);
      font-size: var(--f-sl1);
      font-weight: bold;
      left: 50%;
      padding: var(--s-sl4) var(--s-sl2);
      position: absolute;
      transform: translateX(-50%);
    }
  }

  .race-info {
    text-align: justify;
    text-indent: var(--f);

    h5 {
      font-size: var(--f-lg1);
      margin: var(--s-lg2) 0;
      text-indent: 0;
      text-align: center;
    }

    a.button.primary {
      margin-bottom: 0;
    }
  }

  .race-more-info {
    .socials {
      display: flex;
      gap: var(--s);
      justify-content: center;
      margin-bottom: var(--f);

      img {
        border-radius: var(--f);
        height: 100%;
        max-height: var(--s-lg3);
      }
    }

    .button-container {
      display: flex;
      gap: var(--s);
      justify-content: center;

      a.button {
        margin: 0;
      }
    }
  }

  .race-partners {
    .partners-carousel {
      display: flex;
      flex: 0 0 100%;
      height: 10rem;
      margin-left: calc(var(--s-lg1) * -1);
      overflow: hidden;
      position: relative;
      width: 100vw;

      &:active .slides-track,
      &:focus .slides-track,
      &:hover .slides-track {
        animation-play-state: paused;
      }

      .slides-track {
        display: flex;
        gap: var(--s);
        padding-right: var(--s);
        will-change: transform;
        animation: carousel-horizontal-scroll 20s linear infinite;

        .item {
          align-items: center;
          background-color: var(--c-bg-a80);
          border-radius: var(--f);
          box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
          padding: var(--s-sl2) var(--s);
          justify-content: center;
          width: 20rem;

          img {
            height: 100%;
            max-width: 100%;
            object-fit: contain;
            width: auto;
          }
        }
      }
    }
  }
}
