{{> nav}}
<main id="scene" class="not-found">
  <div class="view-wrapper">
    <h1>Erreur 404</h1>
    <h3>La page que vous cherchez a peut-être été déplacée, ou alors elle est en train de s'échauffer pour l'édition à venir.</h3>
    <div class="not-found-info card">
      <h3>Que faire maintenant ?</h3>
      <p><b>Rejoignez la ligne de départ</b><br>Retournez à <a href="/" alt="Lien de navigation interne vers la page d'accueil">l'accueil</a> pour découvrir les épreuves et vous inscrire.</p>
      <p><b>S'informer sur Les <i>Foulées Sarmates</i></b><br>Consultez les informations sur <a href="/evenement" alt="Lien de navigation interne vers la page d'informations">l'événement</a>, nos partenaires ou notre engagement pour l'Octobre Rose.</p>
      <p><b>Explorez le parcours</b><br>Découvrez les caractéristiques des <a href="/epreuves" alt="Lien de navigation interne vers la page d'informations">épreuves</a> au programme des <i>Foulées Sarmates</i>.</p>
      <p><b>Contactez l'organisation</b><br>Une question ? Envoyez-nous un message à :<br><a href="mailto:contact@messe-basse-production.com" alt="Lien pour envoyer un mail à l'Association pour des rensginements">contact@messe-basse-production.com</a></p>
      <h3>À très vite sur les sentiers de Sermaise, le 17 Octobre 2026 !</h3>
    </div>
    {{> countdown}}
  </div>
</main>
{{> footer}}
<script type="text/javascript" src="/assets/dist/LFS.bundle.js"></script>
