{{> nav}}
<main id="scene" class="not-found">
  <div class="view-wrapper">
    <div class="not-found-info">
      <h1>Erreur 404</h1>
      <p>La page que vous cherchez a peut-être été déplacée, ou alors elle est en train de s'échauffer pour l'édition à venir.</p>
      <h3>Que faire maintenant ?</h3>
      <p><b>Rejoignez la ligne de départ</b> : retournez à <a href="/" alt="Lien de navigation interne vers la page d'accueil">l'accueil</a> pour découvrir les épreuves (5 km, 10 km, 21 km) et vous inscrire.</p>
      <p><b>Explorez le parcours</b> : consultez les <a href="/informations" alt="Lien de navigation interne vers la page d'informations">informations</a> sur l'événement, les courses ou notre engagement pour l'Octobre Rose.</p>
      <p><b>Contactez l'organisation</b> : une question ? Envoyez-nous un message à <a href="mailto:contact@messe-basse-production.com" alt="Lien pour envoyer un mail à l'Association pour des rensginements">contact@messe-basse-production.com</a>.</p>
      <p>À très vite sur les sentiers de Sermaise, le 17 octobre 2026 !</p>
    </div>
    <hr>
    <div class="race-cto">
      <h1>Les Foulées Sarmates</h1>
      <h2>17 Octobre 2026</h2>
      <h3><i>Sermaise – 91530</i></h3>
      <h4>5 km - 10 km - 21 km</h4>
      <h3>Devenez pionnier·e·s de cette première édition</h3>
      <a href="https://chronometrage.com/events/lesfouleessarmates" target="_blank" rel="noopener noreferrer" class="button primary" alt="Lien de navigation externe vers l'inscription en ligne sur chronometrage.com">S'inscrire</a>
    </div>
    <div class="race-countdown">
      <p>⏲️ <b>Le compte à rebourd à commencé !</b> ⏲️<br>Les <i>Foulées Sarmates</i> 2026, première édition, c'est dans :</p>
      <h3 id="countdown"></h3>
    </div>
  </div>
</main>
{{> footer}}
<script type="text/javascript" src="/assets/dist/LFS.bundle.js"></script>
