{{> nav}}
<main id="scene" class="about">
  <div class="view-wrapper">
    <h1>Mentions Légales</h1>
    <div class="race-credits">
      <div>
        <h2>Propriétaire du site</h2>
        <p>Association <a href="https://messe-basse-production.com" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers le site internet de Messe Basse Production">Messe Basse Production</a><br><i>280 Avenue Paul Blot<br>91530 – Sermaise, France</i></p>
      </div>
      <div>
        <h2>Directeur de la publication</h2>
        <p>M. Arthur Beaulieu, Président</p>
      </div>
      <div>
        <h2>Direction artistique</h2>
        <p>Mme Aliénor Beaulieu, M. Arthur Beaulieu, M. David Béché, M. Raphaël Beekmann, M. Raphaël Dondon, M. Starron Silva</p>
      </div>
      <div>
        <h2>Conception</h2>
        <p>Association <a href="https://messe-basse-production.com" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers le site internet de Messe Basse Production">Messe Basse Production</a><br><i>280 Avenue Paul Blot<br>91530 – Sermaise, France</i></p>
      </div>
      <div>
        <h2>Hébergeur</h2>
        <p>Association <a href="https://messe-basse-production.com" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers le site internet de Messe Basse Production">Messe Basse Production</a><br><i>280 Avenue Paul Blot<br>91530 – Sermaise, France</i></p>
      </div>
    </div>
    <h1>Propriété intellectuelle</h1>
    <div class="race-ip">
      <p>L'ensemble de ce site et de son contenu relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés pour les publications, les documents téléchargeables, les illustrations, les photographies et les vidéogrammes. Le contenu du site est, sauf mention contraire explicite, la propriété de l'Association Messe Basse Production. En conséquence et sauf mention contraire explicite, toute utilisation des contenus du site ne peut être faite que moyennant l'autorisation écrite de l'Association Messe Basse Production dont celle-ci reste seule juge. Toute reproduction ou représentation même partielle par quelque procédé que ce soit, réalisée sans le consentement écrit de l'Association Messe Basse Production est interdite et illicite. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur.</p>
      <p>Le code source du site est en revanche diffusé sous licence libre <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers le détails de la licence libre GPL-v3.0">GPL-v3.0</a> et accessible depuis le service d'hébergement de logiciels GitHub sur le dépôt <a href="https://github.com/MesseBasseProduction/les-foulees-sarmates.com" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers le dépôt de code source du site les-foulees-sarmates.com, hébergé sur GitHub">MesseBasseProduction/les-foulees-sarmates.com</a>. Les contributions et demandes d'améliorations y sont autorisés, pour ne pas dire appréciés.</p>
      <p>Les représentations iconographiques présentes sur ce site sont libres de droits, exploités sous licence libre et gracieusement mise à disposition via le site <a href="https://www.svgrepo.com/" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers le site de téléchargement d'icones sous licence libre">https://svgrepo.com</a>.</p>
      <p>Pour toute demande d'utilisation ou de reproduction du contenu de ce site, veuillez contacter l'Association Messe Basse Production pour obtenir une autorisation écrite préalable.</p>
    </div>
    <div class="race-cto">
      <h1>Les Foulées Sarmates</h1>
      <h3>Devenez pionnier·e·s de cette première édition</h3>
      <a href="https://chronometrage.com/events/lesfouleessarmates" target="_blank" rel="noopener noreferrer" class="button primary" alt="Lien de navigation externe vers l'inscription en ligne sur chronometrage.com">S'inscrire</a>
    </div>
    <div class="race-countdown">
      <p>⏲️ <b>Le compte à rebourd à commencé !</b> ⏲️<br>Les Foulées Sarmates 2026, première édition, c'est dans :</p>
      <h3 id="countdown"></h3>
    </div>
  </div>
</main>
{{> footer}}
<script type="text/javascript" src="/assets/dist/LFS.bundle.js"></script>
