{{> nav}}
<main id="scene" class="about">
  <div class="view-wrapper">
    <div class="about-credits">
      <h1>Mentions Légales</h1>
      <div>
        <h2>Directeur de la publication</h2>
        <p>M. Arthur Beaulieu, Président</p>
      </div>
      <div>
        <h2>Direction artistique</h2>
        <p>Mme Aliénor Beaulieu, M. Arthur Beaulieu, M. David Béché, M. Raphaël Beekmann, M. Raphaël Dondon, M. Starron Silva</p>
      </div>
      <div>
        <h2>Propriétaire du site</h2>
        <p>Association <a href="https://messe-basse-production.com" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers le site internet de Messe Basse Production">Messe Basse Production</a><br><i>91530 – Sermaise, France</i></p>
      </div>
      <div>
        <h2>Conception</h2>
        <p>Association <a href="https://messe-basse-production.com" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers le site internet de Messe Basse Production">Messe Basse Production</a><br>91530 – Sermaise, France</i></p>
      </div>
      <div>
        <h2>Hébergement</h2>
        <p>Association <a href="https://messe-basse-production.com" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers le site internet de Messe Basse Production">Messe Basse Production</a><br>91530 – Sermaise, France</i></p>
      </div>
      <p>Afin de mesurer l'audience de ce site et conformément aux recommendations de la CNIL en matière de RGPD, ce site utilise un outil d'analytics, <a href="https://matomo.org/" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers le site internet de Matomo">Matomo</a> qui respecte la vie privée de ses utilisateurs. Les cookies ainsi utilisés pour mesurer l'audience sont complètement anonymisés et ne nécessitent pas de consentement.</p>
      <p>L'association <a href="https://messe-basse-production.com" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers le site internet de Messe Basse Production">Messe Basse Production</a> garanti qu'aucune donnée personnelle n'est collectée et qu'aucune donnée de mesure d'audience n'a vertue à être utilisée à des fins commerciales.</p>
      <p>Si vous souhaitez obtenir davantage d'information à propos de ce site, de la mesure d'audience, de cette course ou de notre Association, contactez-nous par mail à <a href="mailto:contact@messe-basse-production.com" alt="Lien pour envoyer un mail à l'Association pour des rensginements">contact@messe-basse-production.com</a>, ou en utiliant le boutton suivant :</p>
      <a href="mailto:contact@messe-basse-production.com" class="button" alt="Lien pour envoyer un mail à l'Association pour des rensginements">Nous contacter</a>
    </div>
    <div class="about-ip">
      <h1>Propriété intellectuelle</h1>
      <p>L'ensemble de ce site et de son contenu relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés pour les publications, les documents téléchargeables, les illustrations, les photographies et les vidéogrammes. Le contenu du site est, sauf mention contraire explicite, la propriété de l'Association Messe Basse Production. En conséquence et sauf mention contraire explicite, toute utilisation des contenus du site ne peut être faite que moyennant l'autorisation écrite de l'Association Messe Basse Production dont celle-ci reste seule juge. Toute reproduction ou représentation même partielle par quelque procédé que ce soit, réalisée sans le consentement écrit de l'Association Messe Basse Production est interdite et illicite. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur.</p>
      <p>Le code source de ce site est diffusé sous licence libre <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers le détails de la licence libre GPL-v3.0">GPL-v3.0</a> et accessible depuis le service d'hébergement de code source GitHub, sur le dépôt <a href="https://github.com/MesseBasseProduction/les-foulees-sarmates.com" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers le dépôt de code source du site les-foulees-sarmates.com, hébergé sur GitHub">suivant</a>. Les contributions et demandes d'améliorations y sont autorisés, pour ne pas dire appréciés.</p>
      <p>Les représentations iconographiques présentes sur ce site sont libres de droits, exploités sous licence libre et gracieusement mise à disposition via le site <a href="https://www.svgrepo.com/" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers le site de téléchargement d'icones sous licence libre">svgrepo.com</a>.</p>
      <p>Pour toute demande d'utilisation ou de reproduction du contenu de ce site, veuillez contacter l'Association Messe Basse Production pour obtenir une autorisation écrite préalable.</p>
    </div>
    <hr>
    {{> cto}}
    {{> countdown}}
  </div>
</main>
{{> footer}}
<script type="text/javascript" src="/assets/dist/LFS.bundle.js"></script>
