{{> nav}}
<main id="scene" class="event" data-nav="event">
  <div class="view-wrapper">
    <h1>L'événement</h1>
    <div class="organisation-info card">
      <p><i>Les Foulées Sarmates</i>, c'est une course organisée par Messe Basse Production, une association de Sermaise très attachée à son village. Notre volonté à travers cet événement est simple : vous faire découvrir notre village à travers tous ses hameaux, lieux-dits et écarts. Sermaise est un terrain de jeu très apprécié des coureurs par la variété de terrains qu'il offre et nous avons envie de vous partager notre enthousiasme à découvrir ses sentiers, chemins et routes qui sillonnent le village. C'est l'opportunité d'explorer Sermaise sous un angle unique : trois courses nature, accessibles à tous les niveaux, au cœur d'un cadre préservé entre forêts, vallée de l'Orge, hameaux et monuments historiques.</p>
      <p>Voici les temps forts qui rythmeront <i>Les Foulées Sarmates</i> :</p>
      <ul>
        <li><b>7h30</b><span>Ouverture du village sportif, retrait des dossards et vestiaire</span></li>
        <li><b>9h00</b><span>Départ du Semi des Hameaux</span></li>
        <li><b>9h15</b><span>Départ du 10k de la Plaine</span></li>
        <li><b>9h30</b><span>Départ du 5k de la Plaine</span></li>
        <li><b>10h à 14h</b><span>Arrivées et remises protocolaires</span></li>
      </ul>
      <p><b>Athlètes</b>, en ce qui concerne les courses, vous pouvez découvrir le détail de chacune d'entre elles en vous rendant sur la page suivante :</p>
      <a href="/epreuves" class="button primary" alt="Lien de navigation interne vers la page des épreues">Les épreuves</a>
      <p>Pour vous accompagner tout au long de cette matinée athlétique, nous aurons le plaisir d'accueillir deux  <i>food trucks</i>, <i>La P'tite Crêpière</i> et <i>Les Délices de Tony</i>, qui vous proposeront de délicieuses crêpes, galettes et pizzas. Et pour accompagner ces mets, le caviste Greg du <i>Beer'S Not Dead</i> vous servira de savoureuses bières locales, sélectionnées avec soin!</p>
      <div class="catering-partners">
        <div class="item">
          <a href="https://instagram.com/laptitecrepiere" target="_blank" rel="noopener noreferrer" alt="Lien vers le profil Instagram de La P'tite Crêpière">
            <img src="/assets/img/partners/la-ptite-crepiere.webp" alt="Logo de La P'tite Crêpière">
          </a>
        </div>
        <div class="item">
          <a href="https://facebook.com/Lesdelicesdetony" target="_blank" rel="noopener noreferrer" alt="Lien vers la page Facebook des Déclices de Tony">
            <img src="/assets/img/partners/les-delices-de-tony.webp" alt="Logo des Délices de Tony">
          </a>
        </div>
        <div class="item">
          <a href="https://beersnotdead.fr" target="_blank" rel="noopener noreferrer" alt="Lien vers le site du Beer'S Not Dead">
            <img src="/assets/img/partners/beers-not-dead.webp" alt="Logo de Beer'S Not Dead">
          </a>
        </div>
      </div>
     <!-- 
      TODO carte parking, plan village (tentes, speaker, ligne départ, ravito)-->
    </div>
    <h1>Notre engagement</h1>
    <div class="charity-info card">
      <p><i>Les Foulées Sarmates</i> ne sont pas seulement des courses, c'est également un élan solidaire qui s'inscrit dans un événement de village plus large ; les associations du village se mobilisent pour l'Octobre Rose, afin d'offrir tout au long du week-end des animations pour soutenir cette cause. Vous trouverez également des stands de prévention et de dépistage autour du village sportif pour sensibiliser à cette cause qui nous est chère.
      <p>En participant aux <i>Foulées Sarmates</i> particulièrement, vous contribuez directement à la lutte contre les cancers qui touchent les femmes. 50 % des bénéfices de la course seront reversés à la <a href="https://www.ligue-cancer.net/91-essonne" target="_blank" rel="noopener noreferrer" alt="Lien vers le site internet de la Ligue contre le cancer">Ligue contre le cancer - Comité Essonne</a>, une institution locale engagée au quotidien pour soutenir la recherche, l'accompagnement des malades et la prévention dans le département.</p>
      <p>Les cancers féminins, notamment le cancer du sein, touchent des milliers de vies chaque année. Ils bouleversent des familles, des amies, des collègues. En courant ou en encourageant les participants, vous montrez que la solidarité est une force collective. Chaque pas, chaque encouragement compte, chaque effort se transforme en espoir pour celles qui se battent.</p>
      <p>Plus nous serons nombreux, plus notre impact sera grand. En faisant de cette journée un succès, vous permettez à la <a href="https://www.ligue-cancer.net/91-essonne" target="_blank" rel="noopener noreferrer" alt="Lien vers le site internet de la Ligue contre le cancer">Ligue contre le cancer - Comité Essonne</a> de poursuivre ses missions essentielles : financer des projets de recherche, offrir un soutien psychologique et social, et sensibiliser le plus grand nombre sur ces cancers et les moyens de les prévenir, le tout au niveau de l'antenne locale de l'Essonne.</p>
      <a href="https://www.facebook.com/ligue.cancer.essonne/" target="_blank" rel="noopener noreferrer" class="lclc-container" alt="Lien vers la page Facebook de la Ligue contre le cancer, Comité Essonne">
        <img src="/assets/img/partners/ligue-contre-le-cancer-essonne.webp" alt="Logo de la Ligue contre le cancer, Comité Essonne">
      </a>
    </div>
    {{> countdown}}
  </div>
</main>
{{> footer}}
<script type="text/javascript" src="/assets/dist/LFS.bundle.js"></script>
