{{> nav}}
<main id="scene" class="faq">
  <div class="view-wrapper">
    <h1>FAQ</h1>
    <div class="frequent-questions card">
      <h3>Informations générales</h3>
      <p class="question">Quand, où et comment retirer mon dossard?</p>
      <div class="answer">
        <p>Les dossards seront à récupérer le jour de la course, le 17 Octobre 2026, à partir de 7h30. Le retrait s'effectue dans le village sportif, sur le <a href="geo:48.537467,2.081174">parking</a> en face la mairie, <i>Avenue Paul Blot, Sermaise – 91530</i>.</p>
        <p>Pour retirer votre dossard, il faudra vous présenter dans la queue relative à l'épreuve à laquelle vous êtes inscrit·e·s et vous munir d'une pièce d'identité (physique ou numérique) ainsi que votre mail de confirmation d'inscription.</p>
      </div>
      <p class="question">Mes affaires sont-elles prises en charge au départ de la course ?</p>
      <div class="answer">
        <p>Oui, chaque coureur peut déposer ses affaires personnelles dans son sac (dans la limite de 20 litres) dans le village sportif, sur le <a href="geo:48.537467,2.081174">parking</a> en face la mairie, <i>Avenue Paul Blot, Sermaise – 91530</i>. Un numéro de consigne sera alors remis au coureur, qui devra le présenter aux bénévoles pour récupérer son sac.</p>
      </div>
      <p class="question">Comment se rendre au village sportif et aux épreuves ?</p>
      <div class="answer">
        <p>La ligne de départ des 3 épreuves est situé sur la Route de Blancheface juste à côté du village sportif, sur le <a href="geo:48.537467,2.081174">parking</a> en face la mairie, <i>Avenue Paul Blot, Sermaise – 91530</i>. Pour vous rendre sur le village sportif, privilégiez les transports en commun (RER C, station Sermaise) ou le covoiturage pour vous rendre sur le lieu de votre épreuve. Un parking voiture est disponible à côté du stade du Quesnois. Des places de stationements se situent également sur l'Avenue Paul Blot ou sur l'Avenue de Paris.</p>
      </div>
      <p class="question">Comment sont balisés les parcours ?</p>
      <div class="answer">
        <p>Le balisage a pour vocation à vous guider tout au long du parcours. Ce balisage par ruban coloré (selon la course ; rouge pour le 21km, bleu pour le 10km et vert pour le 5km) sera soit accroché aux arbres soit piqueté au sol sur les zones non boisées. En zone urbaine, vous pourrez retrouver au sol des flèches marquées à la peinture temporaire. Etant donné que nous ne sommes jamais à l'abri d'un débalisage sauvage, les parcours GPX sont disponible en libre accès sur notre site internet ainsi que sur le club <a href="https://strava.com/clubs/les-foulees-sarmates" target="_blank" rel="noopener noreferrer" alt="Lien vers le club Strava des Foulées Sarmates">Strava</a>.</p>
        <p>Tout inscrit s'engage à emprunter dans leur intégralité les chemins balisés par l'organisation sans couper. En effet, couper un sentier provoque une érosion irréversible du site et le dégrade durablement. Si vous ne voyez plus de balises, rebroussez chemin !</p>
      </div>
      <p class="question">Comment est géré le chronométrage ?</p>
      <div class="answer">
        <p>Le chronométrage sera effectué grâce à un système de puce collée au dos du dossard. La règle de chronométrage qui s'applique est le remps réel (déclenchement du chronométrage au passage sur la ligne de départ). La cérémonie protocolaire récompensera les 3 premiers hommes et les 3 premières femmes du classement général provisoire. Il est à noter qu'il n'y a pas de récompense particulière pour les catégories d'âge.</p>
      </div>
      <p class="question">Que faire en cas d'abandon ?</p>
      <div class="answer">
        <p>En cas d'abandon, le participant doit impérativement prévenir le responsable de la zone (le signaleur le plus proche) ou le chronométreur, qui procèdera à la récupération de sa puce de chronométrage. Le participant conserve son dossard, qui reste son laissez-passer pour accéder aux différentes zones de l'événement.</p>
        <p>Tout participant ayant abandonné doit également informer l'organisation :	soit en le signalant au responsable site ou au chronométreur,	soit en envoyant un SMS ou un message Whatsapp au numéro de portable du PC Course (indiqué sur le dossard), en précisant sont numéro de dossard, son nom et son prénom.</p>
      </div>
      <p class="question">Comment doit être porté le dossard ?</p>
      <div class="answer">
        <p>Le dossard doit être porté sur la poitrine ou sur le ventre et doit être visible en permanence et en totalité pendant toute la course. Le dossard ne peut être plié ou découpé. Le dossard sera le laissez-passer nécessaire pour accéder à l'ensemble des zones de l'événement.</p>
      </div>
      <h3>Mon inscription</h3>
      <p class="question">Comment s'inscrire à une épreuve des Foulées Sarmates ?</p>
      <div class="answer">
        <p>Les inscriptions se font uniquement en ligne à partir du site internet de notre partenaire <a href="https://chronometrage.com/events/lesfouleessarmates" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers l'inscription en ligne sur chronometrage.com">Chronometrage.com</a>.</p>
        <p>Le paiement s'effectue également en ligne à partir d'une plateforme bancaire sécurisée, sur le site internet de notre partenaire <a href="https://chronometrage.com/events/lesfouleessarmates" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers l'inscription en ligne sur chronometrage.com">Chronometrage.com</a>. Les inscriptions sont ouvertes du 1 Avril 2026 au 1 Septembre 2026, sous réserve de disponibilité des dossards.</p>
      </div>
      <p class="question">Est-ce possible de transférer mon dossard à un proche ou à un tiers ?</p>
      <div class="answer">
        <p>Tout transfert de dossard en dehors de la liste d'attente et de la plateforme d'inscription officielle de l'événement est formellement interdit. Un transfert hors liste d'attente dégage de fait la responsabilité de l'organisation en cas d'accident subi ou provoqué lors de l'épreuve. En cas d'accident, le cédant et le repreneur du dossard verront leurs responsabilités engagées.</p>
      </div>
      <p class="question">Dois-je fournir un justificatif médical ?</p>
      <div class="answer">
        <p>Depuis le 15 janvier 2026, la FFA a mis en place le Pass Prévention Santé (PPS) pour tous les participants adultes non licenciés à des compétitions de running organisées en France, en remplacement du certificat médical. Vous devrez vous connecter à la plateforme web dédiée : <a href="https://pps.athle.fr" target="_blank" rel="noopener noreferrer" alt="Lien de navigation externe vers le site du Pass Prévention Santé">pps.athle.fr</a> et y suivre les différentes étapes vouées à sensibiliser aux risques, précautions et recommandations liés à la pratique de la course à pied, via du contenu pédagogique.</p>
        <p>Un numéro vous sera attribué. Il sera obligatoirement à indiquer pour finaliser votre inscription. <b>Aucun dossard ne sera délivré si le dossier du participant n'est pas complet</b>.</p>
      </div>
      <h3>Les courses</h3>
      <p class="question">Quand auront lieu les courses ?</p>
      <div class="answer">
        <p>Les 3 épreuves des Foulées Sarmates auront lieu le Samedi 17 Octobre 2026, avec un départ unique à 9h00 pour l'épreuve Le Semi des Hameaux, un départ unique à 9h15 pour l'épreuve Les 10k de la Plaine et un départ unique à 9h30 pour l'épreuve Les 5k de la Plaine.</p>
      </div>
    </div>
    {{> cto}}
    {{> countdown}}
  </div>
</main>
{{> footer}}
<script type="text/javascript" src="/assets/dist/LFS.bundle.js"></script>
