{{> nav}}
<main id="scene" class="home">
  <div class="view-wrapper">
    <h1>Les Foulées Sarmates</h1>
    <h2>17 Octobre 2026</h2>
    <h3><i>Sermaise – 91530</i></h3>
    <p><b>Devenez le pionnier de cette première édition :</b></p>
    <a href="#" class="button">S'inscrire</a>
    <div class="race-info">
      <p>Plongez au cœur de Sermaise le temps d'une journée sportive, solidaire et conviviale ! <i>Les Foulées Sarmates</i>, c'est trois courses nature pour explorer les richesses de notre village : 5 km, 10 km et 21 km, accessibles à tous les niveaux. Entre forêts, vallée de l'Orge, rivières, côtes, plaines, hameaux, mares et monuments historiques, chaque parcours vous fera vivre une expérience unique, où le sport se mêle à la découverte.</p>
      <p>Première édition obligatoirement festive ! <i>Les Foulées Sarmates</i>, c'est avant tout une aventure collective, ouverte à toutes et à tous, des débutants aux coureurs aguerris en quête d'un challenge sportif. Venez partager des moments de convivialité, d'effort et de solidarité, dans un cadre 100% nature et 100% local.</p>
      <p>En participant aux <i>Foulées Sarmates</i>, vous soutenez la lutte contre le cancer du sein. 50% des bénéfices seront reversés à la <a href="https://www.ligue-cancer.net/" target="_blank" rel="noopener noreferrer">Ligue contre le cancer</a>, dans le cadre d'Octobre Rose.</p>
      <h4>Courons pour le plaisir, courons pour la santé, courons pour une cause qui nous touche tous.</h4>
    </div>
    <p>Le compte à rebourd à commencé! Les Foulées Sarmates 2026, première édition, c'est dans :</p>
    <h3 id="countdown"></h3>
    {{> footer}}
  </div>
</main>²
<script type="text/javascript" src="/assets/dist/LFS.bundle.js"></script>
