{{> nav}}
<main id="scene" class="home">
  <div class="view-wrapper">
    <h1>Les Foulées Sarmates</h1>
    <h2>17 Octobre 2026</h2>
    <h3><i>Sermaise – 91530</i></h3>
    <h4>5 km - 10 km - 21 km</h4>
    <p><b>Devenez le pionnier de cette première édition :</b></p>
    <a href="#" class="button primary">S'inscrire</a>
    <div class="race-info">
      <p>Plongez au cœur de Sermaise le temps d'une journée sportive, solidaire et conviviale ! <i>Les Foulées Sarmates</i>, c'est trois courses nature pour explorer les richesses de notre village : 5 km, 10 km et 21 km, accessibles à tous les niveaux. Entre forêts, vallée de l'Orge, rivières, côtes, plaines, hameaux, mares et monuments historiques, chaque parcours vous fera vivre une expérience unique, où le sport se mêle à la découverte.</p>
      <p>Première édition obligatoirement festive ! <i>Les Foulées Sarmates</i>, c'est avant tout une aventure collective, ouverte à toutes et à tous, des débutants aux coureurs aguerris en quête d'un challenge sportif. Venez partager des moments de convivialité, d'effort et de solidarité, dans un cadre 100% nature et 100% local.</p>
      <p>En participant aux <i>Foulées Sarmates</i>, vous soutenez la lutte contre les cancers chez les femmes. 50% des bénéfices seront reversés à la <a href="https://www.ligue-cancer.net/" target="_blank" rel="noopener noreferrer">Ligue contre le cancer</a>, dans le cadre d'Octobre Rose.</p>
      <h5>Courons pour le plaisir, courons pour la santé, courons pour une cause qui nous touche toutes et tous.</h5>
    </div>
    <p>Le compte à rebourd à commencé! Les Foulées Sarmates 2026, première édition, c'est dans :</p>
    <h3 id="countdown"></h3>
    <div class="partners">
      <h3>Nos sponsors, partenaires et soutiens</h3>
      <div class="partners-carousel">
        <div class="slides-track">
          <div class="item">
            <img src="/assets/img/partners/beers.png" alt="Logo de Beer'S Not Dead">
          </div>
          <div class="item">
            <img src="/assets/img/partners/brico.png" alt="Logo de Bricomarché Dourdan">
          </div>
          <div class="item">
            <img src="/assets/img/partners/CCDH.png" alt="Logo de la CCDH">
          </div>
          <div class="item">
            <img src="/assets/img/partners/chronometrage.png" alt="Logo de chronometrage.com">
          </div>
          <div class="item">
            <img src="/assets/img/partners/crepiere.png" alt="Logo de La P'tite Crêpière">
          </div>
          <div class="item">
            <img src="/assets/img/partners/decatlhon.png" alt="Logo de Decathlon Brétigny-sur-Orge">
          </div>
          <div class="item">
            <img src="/assets/img/partners/delice.png" alt="Logo des Délices de Tony">
          </div>
          <div class="item">
            <img src="/assets/img/partners/sermaise.png" alt="Logo de la ville de Sermaise">
          </div>
        </div>
        <!-- Hidden section to allow infinite auto scroll -->
        <xdiv aria-hidden class="slides-track">
          <div class="item">
            <img src="/assets/img/partners/beers.png" alt="Logo de Beer'S Not Dead">
          </div>
          <div class="item">
            <img src="/assets/img/partners/brico.png" alt="Logo de Bricomarché Dourdan">
          </div>
          <div class="item">
            <img src="/assets/img/partners/CCDH.png" alt="Logo de la CCDH">
          </div>
          <div class="item">
            <img src="/assets/img/partners/chronometrage.png" alt="Logo de chronometrage.com">
          </div>
          <div class="item">
            <img src="/assets/img/partners/crepiere.png" alt="Logo de La P'tite Crêpière">
          </div>
          <div class="item">
            <img src="/assets/img/partners/decatlhon.png" alt="Logo de Decathlon Brétigny-sur-Orge">
          </div>
          <div class="item">
            <img src="/assets/img/partners/delice.png" alt="Logo des Délices de Tony">
          </div>
          <div class="item">
            <img src="/assets/img/partners/sermaise.png" alt="Logo de la ville de Sermaise">
          </div>
        </div>
      </div>
    </div>
    <div class="faq">
      <p>Une question sur les épreuves? Sur l'organisation? Sur comment devenir bénévole? Rendez-vous à la FAQ pour trouver toutes les réponses à vos interrogations!</p>
      <a href="#" class="button">FAQ</a>
    </div>
  </div>
</main>
{{> footer}}
<script type="text/javascript" src="/assets/dist/LFS.bundle.js"></script>
