{{> nav}}
<main id="scene" class="home" data-nav="home">
  <div class="view-wrapper">
    {{> cto}}
    <div class="village-picture">
      <label>Le Bourg de Sermaise</label>
    </div>
    <h3>Trois courses nature ouvertes à tous·tes, entre forêts et patrimoine. Une journée sportive et solidaire!</h3>
    <div class="race-info card">
      <p>Plongez au cœur de Sermaise le temps d'une journée sportive, solidaire et conviviale ! <i>Les Foulées Sarmates</i>, c'est trois courses nature pour explorer les richesses de notre village : 5 km, 10 km et 21 km, accessibles à tous les niveaux. Entre forêts, vallée de l'Orge, rivières, côtes, plaines, hameaux, mares et monuments historiques, chaque parcours vous fera vivre une expérience unique, où le sport se mêle à la découverte.</p>
      <p>Première édition obligatoirement festive ! <i>Les Foulées Sarmates</i>, c'est avant tout une aventure collective, ouverte à toutes et à tous, des débutants aux coureurs aguerris en quête d'un challenge sportif. Venez partager des moments de convivialité, d'effort et de solidarité, dans un cadre 100% nature et 100% local.</p>
      <p>En participant aux <i>Foulées Sarmates</i>, vous soutenez la lutte contre les cancers chez les femmes. 50% des bénéfices seront reversés à la <a href="https://www.ligue-cancer.net/" target="_blank" rel="noopener noreferrer" alt="Lien vers le site internet de la Ligue contre le cancer">Ligue contre le cancer</a>, dans le cadre de l'Octobre Rose.</p>
      <h5>Courons pour le plaisir, courons pour la santé, courons pour une cause qui nous touche toutes et tous.</h5>
      <a href="/epreuves" class="button primary" alt="Lien de navigation interne vers les épreuves">Découvrir les épreuves</a>
    </div>
    <div class="race-more-info card">
      <p>Retrouvez les courses sur le club Strava des Foulées Sarmates, ou bien suivez l'actualité autour des <i>Foulées Sarmates</i> sur nos réseaux :</p>
      <div class="socials">
        <a href="https://strava.com/clubs/les-foulees-sarmates" target="_blank" rel="noopener noreferrer" alt="Lien vers le club Strava de Messe Basse Production">
          <img src="/assets/img/logo/strava-logo.webp" alt="Logo de Strava">
        </a>
        <a href="https://instagram.com/messebasseproduction" target="_blank" rel="noopener noreferrer" alt="Lien vers le profil Instagram de Messe Basse Production">
          <img src="/assets/img/logo/instagram-logo.webp" alt="Logo de Instagram">
        </a>
        <a href="https://facebook.com/messebasseproduction" target="_blank" rel="noopener noreferrer" alt="Lien vers l'évènement Facebook de Messe Basse Production TODO">
          <img src="/assets/img/logo/facebook-logo.webp" alt="Logo de Facebook">
        </a>
        <a href="https://messe-basse-production.com" target="_blank" rel="noopener noreferrer" alt="Lien vers la page dédiée sur le site de Messe Basse Production TODO">
          <img src="/assets/img/logo/mbp-logo.webp" alt="Logo de Messe Basse Production">
        </a>
      </div>
      <p>Une question sur les épreuves? Sur l'organisation? Sur comment devenir bénévole? Nous avons compilé toutes les informations nécessaire ici pour trouver les réponses à vos interrogations :</p>
      <div class="button-container">
        <a href="/faq" class="button" alt="Lien de navigation interne vers la FAQ">FAQ</a>
        <a href="/evenement" class="button" alt="Lien de navigation interne vers les informations de l'évènement">L'évènement</a>
      </div>
    </div>
    <h3>Un grand merci à nos sponsors, partenaires et soutiens, qui facilitent grandement l'organisation de ce challenge!</h3>
    <div class="race-partners">
      <div class="partners-carousel">
        <div class="slides-track">
          <div class="item">
            <a href="https://beersnotdead.fr" target="_blank" rel="noopener noreferrer" alt="Lien vers le site du Beer'S Not Dead">
              <img src="/assets/img/partners/beers-not-dead.png" alt="Logo de Beer'S Not Dead">
            </a>
          </div>
          <div class="item">
            <a href="https://facebook.com/BricomarcheDourdan" target="_blank" rel="noopener noreferrer" alt="Lien vers la page Facebook du Bricomarché de Dourdan">
              <img src="/assets/img/partners/bricomarche-dourdan.png" alt="Logo de Bricomarché Dourdan">
            </a>
          </div>
          <div class="item">
            <a href="https://ccdourdannais.com" target="_blank" rel="noopener noreferrer" alt="Lien vers le site internet de la communauté de communes Dourdannais en Hurepoix">
              <img src="/assets/img/partners/CCDH.png" alt="Logo de la CCDH">
            </a>
          </div>
          <div class="item">
            <a href="https://chronometrage.com" target="_blank" rel="noopener noreferrer" alt="Lien vers le site internet de chronometrage.com">
              <img src="/assets/img/partners/chronometrage.png" alt="Logo de chronometrage.com">
            </a>
          </div>
          <div class="item">
            <a href="https://facebook.com/Decathlon.Bretigny91" target="_blank" rel="noopener noreferrer" alt="Lien vers la page Facebook du Decathlon de Brétigny-sur-Orge">
              <img src="/assets/img/partners/decathlon.png" alt="Logo de Decathlon Brétigny-sur-Orge">
            </a>
          </div>
          <div class="item">
            <a href="https://instagram.com/laptitecrepiere" target="_blank" rel="noopener noreferrer" alt="Lien vers le profil Instagram de La P'tite Crêpière">
              <img src="/assets/img/partners/la-ptite-crepiere.png" alt="Logo de La P'tite Crêpière">
            </a>
          </div>
          <div class="item">
            <a href="https://facebook.com/Lesdelicesdetony" target="_blank" rel="noopener noreferrer" alt="Lien vers la page Facebook des Déclices de Tony">
              <img src="/assets/img/partners/les-delices-de-tony.png" alt="Logo des Délices de Tony">
            </a>
          </div>
          <div class="item">
            <a href="https://facebook.com/mairiedesermaise" target="_blank" rel="noopener noreferrer" alt="Lien vers la page Facebook du village de Sermaise">
              <img src="/assets/img/partners/sermaise.png" alt="Logo du village de Sermaise">
            </a>
          </div>
        </div>
        <!-- Hidden duplicated section to allow infinite auto scroll -->
        <div aria-hidden class="slides-track">
          <div class="item">
            <a href="https://beersnotdead.fr" target="_blank" rel="noopener noreferrer" alt="Lien vers le site du Beer'S Not Dead">
              <img src="/assets/img/partners/beers-not-dead.png" alt="Logo de Beer'S Not Dead">
            </a>
          </div>
          <div class="item">
            <a href="https://facebook.com/BricomarcheDourdan" target="_blank" rel="noopener noreferrer" alt="Lien vers la page Facebook du Bricomarché de Dourdan">
              <img src="/assets/img/partners/bricomarche-dourdan.png" alt="Logo de Bricomarché Dourdan">
            </a>
          </div>
          <div class="item">
            <a href="https://ccdourdannais.com" target="_blank" rel="noopener noreferrer" alt="Lien vers le site internet de la communauté de communes Dourdannais en Hurepoix">
              <img src="/assets/img/partners/CCDH.png" alt="Logo de la CCDH">
            </a>
          </div>
          <div class="item">
            <a href="https://chronometrage.com" target="_blank" rel="noopener noreferrer" alt="Lien vers le site internet de chronometrage.com">
              <img src="/assets/img/partners/chronometrage.png" alt="Logo de chronometrage.com">
            </a>
          </div>
          <div class="item">
            <a href="https://facebook.com/Decathlon.Bretigny91" target="_blank" rel="noopener noreferrer" alt="Lien vers la page Facebook du Decathlon de Brétigny-sur-Orge">
              <img src="/assets/img/partners/decathlon.png" alt="Logo de Decathlon Brétigny-sur-Orge">
            </a>
          </div>
          <div class="item">
            <a href="https://instagram.com/laptitecrepiere" target="_blank" rel="noopener noreferrer" alt="Lien vers le profil Instagram de La P'tite Crêpière">
              <img src="/assets/img/partners/la-ptite-crepiere.png" alt="Logo de La P'tite Crêpière">
            </a>
          </div>
          <div class="item">
            <a href="https://facebook.com/Lesdelicesdetony" target="_blank" rel="noopener noreferrer" alt="Lien vers la page Facebook des Déclices de Tony">
              <img src="/assets/img/partners/les-delices-de-tony.png" alt="Logo des Délices de Tony">
            </a>
          </div>
          <div class="item">
            <a href="https://facebook.com/mairiedesermaise" target="_blank" rel="noopener noreferrer" alt="Lien vers la page Facebook du village de Sermaise">
              <img src="/assets/img/partners/sermaise.png" alt="Logo du village de Sermaise">
            </a>
          </div>
        </div>
      </div>
    </div>
    {{> countdown}}
  </div>
</main>
{{> footer}}
<script type="text/javascript" src="/assets/dist/LFS.bundle.js"></script>
