{{> nav}}
<main id="scene" class="poster">
  <div class="view-wrapper">
    <div class="race-countdown">
      <p>⏲️ <b>Le compte à rebourd à commencé !</b> ⏲️<br>Les <i>Foulées Sarmates</i> 2026, première édition, c'est dans :</p>
      <h3 id="countdown"></h3>
    </div>
  </div>
</main>
{{> footer}}
<script type="text/javascript" src="/assets/dist/LFS.bundle.js"></script>
