{{> nav}}
<main id="scene" class="races" data-nav="races">
  <div class="view-wrapper">
    <h1>Les épreuves</h1>
    <div class="race-info card">
      <p><i>Les Foulées Sarmates</i> sont composées de trois courses nature, mêlant route et sentier dans un savant dosage. Trois distances qui permettent, chacune à sa manière, de découvrir la richesse de notre territoire. Pour des renseignements plus spécifiques, relatifs à l'épreuve que vous souhaitez accomplir, rendez-vous sur les pages suivantes :</p>
      <a href="/5k" class="race race-5k" alt="Lien de navigation interne vers la page de la course Les 5k de la Plaine">
        <span>Les 5k de la Plaine</span>
      </a>
      <a href="/10k" class="race race-10k" alt="Lien de navigation interne vers la page de la course Les 10k de la Plaine">
        <span>Les 10k de la Plaine<span>
      </a>
      <a href="/21k" class="race race-21k" alt="Lien de navigation interne vers la page de la course Le Semi des Hameaux">
        <span>Le Semi des Hameaux<span>
      </a>
      <p>Vous pouvez consulter le règlement global des <i>Foulées Sarmates</i> en le téléchargeant avec le bouton ci-dessous :</p>
      <a href="/assets/doc/reglement.pdf" download="Les Foulées Sarmates 2026 - Règlement" class="button primary" alt="Lien de téléchargement du règlement des Foulées Sarmates 2026">Règlement des foulées sarmates</a>
    </div>
    {{> countdown}}
  </div>
</main>
{{> footer}}
<script type="text/javascript" src="/assets/dist/LFS.bundle.js"></script>
