{{> nav}}
<main id="scene" class="races" data-nav="races">
  <div class="view-wrapper">
    <h1>Les épreuves</h1>
    <div class="race-info card">
      <p>Notre volonté à travers cet évènement est simple ; vous faire découvrir notre village à travers tous ses écarts. Sermaise est un terrain de jeu très apprécié des coureurs et nous avons envie de vous partager notre entousiasme à découvrir ses sentiers, chemins et routes qui sillonnent le village et ses hameaux.</p>
      <p><i>Les Foulées Sarmates</i>, c'est l'opportunité d'explorer Sermaise sous un angle unique : trois courses nature, accessibles à toutes et à tous, au cœur d'un cadre préservé entre forêts, vallée de l'Orge, hameaux et monuments historiques. Une journée où sport, découverte et solidarité se mêlent pour une expérience inoubliable.</p>
      <p>Vous pouvez consulter le règlement global des <i>Foulées Sarmates</i> en le téléchargeant avec le button ci-dessous :</p>
      <a href="/assets/doc/reglement.pdf" download="Les Foulées Sarmates 2026 - Règlement" class="button" alt="Lien de téléchargement du règlement des Foulées Sarmates 2026">Règlement</a>
      <p>Pour des renseignements plus spécifiques, relatifs à l'épreuve que vous souhaitez accomplir, rendez-vous sur les pages suivantes :</p>
      <a href="/5k" class="button race" alt="Lien de navigation interne vers la page de la course Les 5k de la Plaine">Les 5k de la Plaine</a>
      <a href="/10k" class="button race" alt="Lien de navigation interne vers la page de la course Les 10k de la Plaine">Les 10k de la Plaine</a>
      <a href="/21k" class="button race" alt="Lien de navigation interne vers la page de la course Le Semi des Hameaux">Le Semi des Hameaux</a>
    </div>
    {{> cto}}
    {{> countdown}}
  </div>
</main>
{{> footer}}
<script type="text/javascript" src="/assets/dist/LFS.bundle.js"></script>
