{{> nav}}
<main id="scene" class="volunteer" data-nav="volunteer">
  <div class="view-wrapper">
    <h1>Devenir bénévole</h1>
    <h3>Rejoignez l'aventure des <i>Foulées Sarmates</i> en tant que bénévole !</h3>
    <div class="become-volunteer card">
      <p>Le samedi 17 octobre 2026, le village de Sermaise vibrera au rythme des <i>Foulées Sarmates</i>, une course nature ouverte à tous, avec ses trois parcours, alliant sentiers et routes dans un cadre préservé. Au-delà de la performance sportive, cet événement s'inscrit dans une démarche solidaire pour soutenir la lutte contre les cancers de la Femme, dans le cadre d'Octobre Rose.</p>
      <p>En devenant bénévole, vous contribuez directement à cette belle cause tout en vivant une expérience humaine unique. Que ce soit pour encadrer les coureurs en étant signaleur sur les parcours, gérer les ravitaillements, assurer la remise des dossards, s'occuper des consignes pour les affaires des coureurs, ou participer à l'ambiance festive du village, chaque main est précieuse pour faire de cette journée un succès.</p>
      <p>Intégrer l'équipe des bénévoles, c'est aussi l'occasion de partager des moments conviviaux avec les associations locales, de rencontrer des passionnés de course à pied et de vibrer au rythme d'une manifestation qui unit sport, solidarité et esprit communautaire.</p>
      <p>Aucun prérequis n'est nécessaire pour nous rejoindre, seulement l'envie de s'investir et de faire partie d'une aventure collective. Alors, prêt à embarquer et à nous rejoindre pour une journée inoubliable ?</p>
      <h3>Votre engagement fait la différence !</h3>
      <a id="become-volunteer" class="button primary">Devenir bénévole</a>
    </div>
    {{> countdown}}
  </div>
</main>
{{> footer}}
<script type="text/javascript" src="/assets/dist/LFS.bundle.js"></script>
