<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8"/>
  <title>{{pageTitle}}</title>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="initial-scale=1" name="viewport"/>
  <meta name="description" content="{{pageDescription}}">
  <link rel="stylesheet" href="/assets/lib/ScrollBar.bundle.css"/>
  <link rel="stylesheet" href="/assets/dist/LFS.bundle.css"/>
</head>
<body>
  <div id="overlay" class="overlay"></div>
  <div id="loading-overlay" class="loading-overlay"></div>
  <script type="text/javascript" src="/assets/lib/ScrollBar.bundle.js"></script>
  {{{body}}}
</body>
</html>
